.container{
    margin-top: 100px !important;
}

img{
    aspect-ratio: 1;
    object-fit: contain;
}

.paginator{
    margin-bottom: 70px;
}

ul{
    // divide in due colonne gli li
    columns: 2;
}
